account_id = "..."
compatibility_date = "2022-06-18"
main = "build/worker/shim.mjs"
name = "signalupdates-bot"

[build]
command = """\
    rustup -V && \
        cargo -V && \
        rustc -V && \
        cargo install --force --locked wasm-bindgen-cli --version 0.2.84 && \
        cargo install --force --locked worker-build --version 0.1.0 && \
        worker-build --release
"""

[env.production]
name = "signalupdates-bot"
kv_namespaces = [{ binding = "STATE", id = "..." }]
workers_dev = true
triggers = { crons = ["*/10 * * * *"] }

[env.production.vars]
USER_ID = "..."
TOPIC_ID_FOR_SERVER_UPDATES = "..."
TOPIC_ID_OVERRIDE = ""
DRY_RUN = ""
ENABLED_PLATFORMS = "said"
DISCORD_UPDATES_MENTION_ROLE = "..."
DISCORD_SERVER_UPDATES_MENTION_ROLE = "..."
DISCORD_ERRORS_MENTION_ROLE = "..."
ACCESS_TOKEN = "..."

[env.staging]
name = "signalupdates-bot-staging"
kv_namespaces = [{ binding = "STATE", id = "..." }]
workers_dev = true

[env.staging.vars]
USER_ID = "..."
TOPIC_ID_FOR_SERVER_UPDATES = "..."
TOPIC_ID_OVERRIDE = ""
DRY_RUN = ""
ENABLED_PLATFORMS = "said"
DISCORD_UPDATES_MENTION_ROLE = "..."
DISCORD_SERVER_UPDATES_MENTION_ROLE = "..."
DISCORD_ERRORS_MENTION_ROLE = "..."
ACCESS_TOKEN = "..."
